.link--slider_third-row--button::after {
    content: url("/arquivos/arrow-button.svg");
}

.link--slider_third-row--button{
    background-color: blue;
}
.paragraph--text-amazing{
    margin-top:30px !important;
    margin-bottom: 60px !important;
}