.sliderTrack--slider-card{
    display:flex;
    grid-gap:15px;
}
.slider__third-row--button{
    background-color: blue;
    margin-bottom:50px !important;
    
}
.link--slider__third-row--button{
    background-color: rgb(255, 0, 251);
    text-align: center;
}
.imageElement--hero-desktop-img{
    width: 100%;
}
.link--slider__third-row--button{
    margin-bottom: 50px;
}
 
.paginationDotsContainer--slider-card{
    margin-top: 50px;
    margin-bottom: -20px;
    color: antiquewhite;
}
