.link--slider__loginbutton{
    background-color: #1D2734 !important;
    border-radius: 16px;
    color: white;
    padding: 12px;
    margin-top:10px;
}
.paragraph--slider__loginbutton{
    margin-top: 20px !important;
}
.container--este__esel__off4{
    margin-top: 97px;
}