.paginationDot--isActive{
    background-color: green;
}
.flexCol--col__one--text {
    background-color: brown;
}
.slider__third-row--button{
    background-color: blue;
}
.slideChildrenContainer--hero-desktop-img{
    width: 100%;
}