.flexCol--col__one--text{
    background-color: brown;
    font-family: "MyHelvetica";
}
.flexCol--col__two--text{
    background-color: yellow;
}
.flex-layout.col#text__one--home{
    font-size: 10px;
}